conformer_asr/evaluation/wav2vec_models
conformer_asr/evaluation/results

docker/decoders/
docker/NeMo/
docker/portaudio/
docker/python-pesq/
docker/nova_asr_imgage.tar

experiments/
log/

n_gram_lm/data/
n_gram_lm/__pycache__
n_gram_lm/*/__pycache__
n_gram_lm/eval_beamsearch
n_gram_lm/n_gram_lm_model

tokenizers/


scripts/evaluation/eval_asr_model
scripts/evaluation/eval_data
scripts/evaluation/manifests
scripts/evaluation/wav2vec_models
conformer_asr/__pycache__/
conformer_asr/__pycache__/utils.cpython-38.pyc


apex/__pycache__/
apex/*/__pycache__/
apex/*/*/__pycache__/

nemo/__pycache__/
nemo/*/__pycache__/
nemo/*/*/__pycache__/
nemo/*/*/*/__pycache__/
nemo/*/*/*/*/__pycache__/
nemo/*/*/*/*/*/__pycache__/

nemo/collections/asr/parts/numba/rnnt_loss/utils/__pycache__/
nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/__pycache__/
nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/__pycache__/

models/onnx/test.onnx
models/conformer/Conformer_small_Model_Language_vi_epoch=250.onnx
n_gram_lm/kenlm/__pycache__/kenlm_utils.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/__pycache__/__init__.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/__pycache__/global_constants.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/__pycache__/rnnt_helper.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/__pycache__/__init__.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/__pycache__/cpu_rnnt.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/__pycache__/__init__.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/__pycache__/gpu_rnnt_kernel.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/__pycache__/gpu_rnnt.cpython-38.pyc
nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/__pycache__/reduce.cpython-38.pyc
