conformer_asr/evaluation/wav2vec_models
conformer_asr/evaluation/results

docker/decoders/
docker/NeMo/
docker/portaudio/
docker/python-pesq/
docker/nova_asr_imgage.tar

experiments/
log/

n_gram_lm/data/
n_gram_lm/eval_beamsearch
n_gram_lm/n_gram_lm_model

tokenizers/


scripts/evaluation/eval_asr_model
scripts/evaluation/eval_data
scripts/evaluation/manifests
scripts/evaluation/wav2vec_models
conformer_asr/__pycache__/
conformer_asr/__pycache__/utils.cpython-38.pyc


apex/__pycache__/
apex/*/__pycache__/
apex/*/*/__pycache__/

nemo/__pycache__/
nemo/*/__pycache__/
nemo/*/*/__pycache__/
nemo/*/*/*/__pycache__/
nemo/*/*/*/*/__pycache__/
nemo/*/*/*/*/*/__pycache__/
nemo/collections/asr/parts/numba/rnnt_loss/utils/__pycache__/
nemo/collections/asr/parts/numba/rnnt_loss/utils/cpu_utils/__pycache__/
nemo/collections/asr/parts/numba/rnnt_loss/utils/cuda_utils/__pycache__/
n_gram_lm/kenlm/__pycache__/
