Hydra==2.5                
hydra-core==1.1.1
# pytorch-lightning==1.5.10 
omegaconf==2.1.1
braceexpand==0.1.7
webdataset==0.2.5
torch-stft==0.1.4
inflect==5.4.0
sentencepiece==0.1.96
youtokentome==1.0.6
pyannote.core==4.4                
pyannote.database==4.1.3              
pyannote.metrics==3.2
editdistance==0.6.0
wandb==0.12.13
pystoi==0.3.3
pynini==2.1.5
pyctcdecode==0.1.0
jiwer==2.3.0

huggingface-hub==0.8.1
pytorch-lightning==1.6.5
openpyxl==3.0.10
# onnxruntime --no-dependencies
